<mat-card class="stubody">
	<mat-card-header>
		<mat-card-title>Students</mat-card-title>
		<span class="nav-spacer"></span>
		<mat-select  placeholder="Filter By Course">
			<mat-option>None</mat-option>

			  <mat-option value="mwa">MWA</mat-option>
			  <mat-option value="ea">EA</mat-option>
			  <mat-option value="sa">SA</mat-option>

		  </mat-select>
		<mat-form-field class="stusearch" appearance="legacy">
			<mat-label>Search student by username or full name</mat-label>
			<input matInput >
			<mat-icon matSuffix>search</mat-icon>
		   
		  </mat-form-field>
		 
	</mat-card-header>
	<mat-divider></mat-divider>
	
	<mat-card-content>
	
	</mat-card-content>
	<app-student-table></app-student-table>

</mat-card>
