<app-nav1></app-nav1>

<mat-card class="logincard" [ngClass]="{'form-disabled': signuping}">
		<mat-card-title>Sign Up</mat-card-title>
			<form class="loginform" [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off" >
				<p>
					<mat-form-field  class="matinput" appearance="outline" >
						<mat-label>Full name</mat-label>
						<input class="form-control" matInput type="text" autocomplete="off"  formControlName="fullname" 	 >
					  </mat-form-field>
				</p>
			
				<p>

				<mat-form-field class="matinput" appearance="outline" >	
					<mat-label>Email</mat-label>
					<input matInput class="form-control" type="email" autocomplete="off" formControlName="email"  	 >
				  </mat-form-field>
				</p>
				<p>
					<mat-form-field class="matinput" appearance="outline" >
						<mat-label>Username</mat-label>
						<input matInput type="text" class="form-control" autocomplete="off"  formControlName="username" 	 > 
						<!--<div *ngIf="!signupForm.get('username')?.valid&&!validusername">Username Taken</div>-->
						<mat-icon *ngIf="validusername!=null" matSuffix> 
							<mat-spinner *ngIf="!validusername" diameter=20></mat-spinner>
								</mat-icon>
					</mat-form-field> 
				</p>
				<mat-form-field  class="matinput" appearance="outline" >
					<mat-label>Role</mat-label>
					<mat-select formControlName="role">
						
					  <mat-option value="student">Student</mat-option>
					  <mat-option value="professor">Professor</mat-option>

					</mat-select>
				
				  </mat-form-field>
				<p>
	  <mat-form-field class="matinput" appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput  class="form-control" type="password" formControlName="password"  id="password">
				  </mat-form-field>
				  <button mat-raised-button color="primary" [disabled]="!signupForm.valid">Create account</button>
			  </p>
			  	<p>

					<a mat-button [routerLink]="['/login']"
					 color="accent">I have an acoount</a>
				  </p>
				


			</form>
			<mat-card-footer *ngIf="signuping">
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			  </mat-card-footer>

		
</mat-card>

