.questionBody{

	margin: auto;
	margin-top: 2%;
	width: fit-content;
	padding-top: 1%;

	padding-left: 3%;
	padding-right: 3%;

}
.filedInput{
	width: 100%;
}
.example-section {
	display: flex;
	align-content: center;
	align-items: center;
	height: 60px;
  }